<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h1>The Home Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
    assumenda commodi consequatur doloremque dolorum excepturi
    expedita fugit, incidunt laborum neque nisi nostrum nulla
    quas velit voluptatem? Consectetur dolores iste quo!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est
    fugit inventore minus! Aliquam commodi dicta dolorem eaque
    explicabo fugiat illo nemo nisi nostrum nulla omnis quis
    reiciendis, unde ut!</p>
</body>
</html>
