
<%- include('partials/head')%>
<body>
<%- include('partials/navbar')%>
<h1>All My Cats</h1>
<ul>
    <% for(let cat of cats) { %>
        <li><%= cat %></li>
    <% } %>
</ul>
<%- include('partials/footer')%>
