<%- include('partials/head') %>


<%- include('partials/navbar') %>
<h1> ALL THE CATS</h1>
<% for(let cat of cats) { %>
    <ul>
        <li><%= cat %></li>
    </ul>
<% } %>
<%- include('partials/footer')%>
